$color-background: rgb(248, 207, 217);
$color-main: rgb(255, 255, 255);
$color-text: rgb(0, 0, 0);
$color-border: rgb(0, 0, 204);
$color-accent: rgb(255, 236, 68);


@mixin buttons {
    cursor: pointer;
    padding: 25px 50px;
    font-size: 22px;
    font-weight: 600;
    border: none;
    background-color: $color-border;
    color: $color-main;
    transition: 400ms;


    &:hover {
        color: $color-accent
    }
}

@mixin border {
    border: 6px solid $color-border;

}


@mixin header() {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-main;
    @include border();
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}




body {
    background-color: $color-background;
    scrollbar-width: thin;
    scrollbar-color: $color-accent $color-main;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: $color-main;
}

body::-webkit-scrollbar-thumb {
    background-color: $color-accent;
}

.header {
    @include header();

    &__title {
        display: inline;
        text-align: center;
        font-size: 26px;
        font-weight: bold;
        color: $color-border;
        padding-left: 48px;
    }

    &__show-form-button {
        @include buttons();

    }
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &__questionnaire-title {
        font-size: 26px;
        color: $color-border;
        margin: 40px 50px;
        display: none;
    }

    &__questionnaire-empty {
        display: block;
        text-align: center;
        font-size: 26px;
        font-weight: bold;
        margin-top: 300px;
        color: $color-border;

    }

    &__questionnaire-container {
        flex-grow: 1;
        width: 100%;
        display: none;
        justify-content: flex-start;
        flex-wrap: wrap;
        background-color: $color-main;
        padding: 30px;
    }

    &__questionnaire-item {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 10px;
        height: 100%;
        @include border();

        &__header {
            @include header();
            border-left: none;
            border-right: none;
            border-top: none;
        }

        &__number {
            font-size: 24px;
            margin-left: 10px;
            padding: 10px;
            color: $color-border;
            font-weight: 600;

        }

        .close-button {
            @include buttons();
            padding: 15px 20px;
        }

        &__content {
            padding: 20px;

        }

        p {
            font-size: 20px;
            font-weight: 600;
        }

        &__point {
            color: $color-border;
        }
    }


}

.form {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    @include border();
    box-shadow: 18px 18px 0 0 $color-border;
    background-color: $color-main;

    &__header {
        @include header();
        border-left: none;
        border-right: none;
        border-top: none;
    }


    &__close-button {
        cursor: pointer;
        padding: 5px 40px;
        border: none;
        background-color: transparent;
        color: $color-border;
        font-size: 24px;
        font-weight: 600;

    }

    &__title {
        text-align: center;
        font-size: 24px;
        color: $color-border;
        padding: 20px 40px;
        border-right: 6px solid $color-border;

    }

    &__input-container {
        padding: 30px 90px;
        width: auto;
        max-height: 50vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

    &__label {
        font-weight: 700;
        color: $color-border;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        margin: 30px 0 40px 0;
        width: 530px;

        & input:focus {
            transform: scale(1.05);
        }
    }

    &__input {
        width: 270px;
        border-bottom: 4px $color-accent dashed;
        border-top: none;
        border-left: none;
        border-right: none;
        font-size: 20px;
        font-weight: 600;
        color: $color-text;
        transition: 400ms;

        &:focus {
            border-bottom: 4px $color-accent dashed;
            border-top: none;
            border-left: none;
            border-right: none;
            outline: none;
        }
    }

    &__buttons {
        @include header();
        border-left: none;
    }

    &__add-question-button {
        @include buttons();
        background-color: $color-main;
        color: $color-border;
        padding-left: 40px;

    }

    &__add-questionnaire-button {
        @include buttons();
    }

}


.modal {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba($color: #000000, $alpha: 0.5);

    &--hidden {
        display: none;
    }
}

@media (max-width: 768px) {

    .header {
        flex-direction: column;
        align-items: flex-start;

        &__title {
            display: none;
        }

        &__show-form-button {
            width: 100%;
            padding: 15px;
            font-size: 18px;
        }
    }

    .main {
        margin-top: 20px;

        &__questionnaire-title,
        &__questionnaire-empty {
            font-size: 20px;
            margin-left: 20px;
        }

        &__questionnaire-container {
            flex-direction: column;
            padding: 15px;
        }

        &__questionnaire-item {
            margin-bottom: 15px;
            width: calc(100% - 20px);
        }

        &__content span {
            font-size: 18px;
        }
    }

    .form {


        &__input-container {
            width: auto;
            padding: 30px 40px;
        }

        &__label {
            flex-direction: column;
            align-items: flex-start;
            margin: 10px 0;
            width: auto;
        }

        &__input {
            font-size: 18px;
        }

        &__title {
            font-size: 20px;
            padding: 10px;
        }

        &__close-button {
            font-size: 20px;
            padding: 5px 15px 5px 5px;
        }

        &__buttons {
            flex-direction: column;
            align-items: center;
            padding: 10px;
            border-right: none;
        }

        &__add-question-button,
        &__add-questionnaire-button {
            width: 100%;
            padding: 15px;
            font-size: 18px;
            margin-bottom: 10px;
        }
    }
}